<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
         akka {   
             log-config-on-start = off 
             stdout-loglevel = INFO 
             loglevel = INFO 
            actor { 
                  provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote" 
                  debug {   
                     receive = off  
                     autoreceive = on 
                     lifecycle = on 
                     event-stream = on 
                     unhandled = on 
                   } 

                   deployment{ 
                       /remoteactor { 
                          router = round-robin-pool 
                          nr-of-instances = 5 
                          remote = "akka.tcp://ServerSystem@localhost:8090"
                       }
                       /localactor { 
                          router = round-robin-pool 
                          nr-of-instances = 5 
                       }
                       /destination { 
                          router = round-robin-pool 
                          nr-of-instances = 5 
                          remote = "akka.tcp://ServerSystem@localhost:8090"
                       } 
                       /localdestination { 
                          router = round-robin-pool 
                          nr-of-instances = 5 
                       } 
                       /remotedestination { 
                          remote = "akka.tcp://ServerSystem@localhost:8090"
                       }
                       
                  }
             } 
             remote { 
 		                log-received-messages = off 
 		                log-sent-messages = off 
                    helios.tcp { 
		                            port = 0            
 		                            hostname = localhost 
                    } 
                   log-remote-lifecycle-events = INFO 
           }  
         } 
      ]]>
    </hocon>
  </akka>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>